.table-view {
    -fx-font-size: 30pt;
    -fx-alignment: center;
    -fx-padding: 10;
}
.table-view .column-header .label {
    -fx-font-size: 30pt;
    -fx-alignment: center;
}
.table-column {
  -fx-alignment: CENTER;
}
